@media  screen and (max-width: 600px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2vw;
    }

    .calculator-header{
        display: flex;
        justify-content: space-between;
        height: 5vw;
        width: 100%;
    }

    .calculate-place{
        height: 100vw;
        display: flex;
        align-items: flex-end;
        width: 90%;
        justify-content: center;
    }

    .calculate-string{
        margin: 0;
        width: 100%;
        color: rgb(31, 30, 30);
        font-size: 10vw;
        text-align: end;
        font-family: 'Montserrat', sans-serif;;
        overflow: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        overflow-y: scroll;
        
    }

    .calculate-string::-webkit-scrollbar {
        display: none;
    }

    .numpad{
        height: 100vw;
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;   
    }

    .numpad div{
        height: 52px;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numpad-header{
        padding-top: 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: solid 1px #B0B0B0;
        margin-bottom: 7vw;
    }

    .numpad-content{
        height: 80%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .line{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    #num-btn{
        animation-duration: 0.3s;
        border-radius: 50%;
        animation-fill-mode: forwards; 
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-play-state: running;
    } 

    .calculator{
        display: none;
    }

    .smth{
        width: 90vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .calculator header{
        height: 10%;
    }

    .smth-main{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .column{
        display: flex;
        justify-content: space-between;
    }

    .icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15vw;
    }
    .icon p{
        display: inline;
        margin: 0;
        font-size:  3vw;
        font-family: 'Montserrat', sans-serif;
    }
}