@media  screen and (max-width: 600px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2vw;
    }

    .calculator-header{
        display: flex;
        justify-content: space-between;
        height: 5vw;
        width: 100%;
        position: relative;
        z-index: 100;
    }

    .calculate-place{
        height: 100vw;
        display: flex;
        align-items: flex-end;
        width: 90%;
        justify-content: center;
    }

    .calculate-string{
        margin: 0;
        width: 100%;
        color: rgb(31, 30, 30);
        font-size: 10vw;
        text-align: end;
        font-family: 'Montserrat', sans-serif;;
        overflow: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        overflow-y: scroll;
        
    }

    .calculate-string::-webkit-scrollbar {
        display: none;
    }

    .numpad{
        height: 100vw;
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;   
    }

    .numpad div{
        height: 52px;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numpad-header{
        padding-top: 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: solid 1px #B0B0B0;
        margin-bottom: 7vw;
    }

    .numpad-content{
        height: 80%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .line{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    #num-btn{
        animation-duration: 0.3s;
        border-radius: 50%;
        animation-fill-mode: forwards; 
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-play-state: running;
    } 

    .calculator{
        width: 90vw;
        position: absolute;
        top: 4vw;
        left: 4vw;
        transition-duration: 0.3s;
        opacity: 1;
    }

    .menu{
        width: 90vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 4vw;
        left: 14vw;
        opacity: 0;
        z-index: -1;
        transition-duration: 0.3s;
    }
    

    .menu-main{
        margin-top: 20vw;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .column{
        display: flex;
        justify-content: space-between;
    }

    .icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15vw;
    }
    .icon p{
        display: inline;
        margin: 0;
        font-size:  3vw;
        font-family: 'Montserrat', sans-serif;
    }

    .show-to-right{
        opacity: 1;
        z-index: 1;
        left: 4vw;
        transition-duration: 0.3s;
    }

    .show-to-left{
        transition-duration: 0.3s;
        opacity: 1;
        z-index: 1;
        left: 4vw;
    }

    .hide-to-right{
        transition-duration: 0.3s;
        opacity: 0;
        z-index: 0;
        left: -6vw;
    }

    .hide-to-left{
        transition-duration: 0.3s;
        opacity: 0;
        z-index: 0;
        left: 14vw;
    }
}